.right-space {
  margin-right: 1em;
}

.remove-float {
  float: none;
}

.top-space {
  margin-top: 1.5em;
}

.big-top-space {
  margin-top: 200px;
}

.large-padding {
  padding: 10px 15px;
}

.black {
  background-color: #222222;
}

.white-text {
  color: white;
}

nav {
  text-align: right;
}

nav li {
  display: inline-flex;
  font-size: 1.5em;
  margin-right: 1em;
}

nav li a,
nav li a:hover {
  color: white;
}

.white {
  background-color: white;
}

.border {
  border: solid 1px #eeeeee;
}

/* (even) pares */
.tr:nth-of-type(odd) {
  background-color: #eeeeee;
}

form.link {
  display: inline-block;
}

form.link button[type="submit"] {
  background-color: transparent;
  border: none;
  color: rgb(200, 50, 50);
}

.img-container {
  margin: 0 auto;
  max-width: 100%;
  width: 700px;
}

.img-container h1,
.img-container h2 {
  border-bottom: 1px solid #222222;
  padding: 15px;
}

.img-container p {
  text-align: right;
  font-size: 1.2em;
  margin-top: 1em;
}

img {
  max-width: 100%;
}
